*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body{
  background-color: #181719;
  color: white;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  width: 100%;
}

header{
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

}

header .logo{
  text-decoration: none;
  color: white;
  border: 1px solid #FFFFFF;
  width: 103px;
  height: 31px;
  margin: 12px 20px;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

header label{
  justify-self: end;
  width: 28.5px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 15px 0 0 ;
}

header .menu{
  list-style: none;
  text-decoration: none;
  display: none;
}

.menu-icon{
  display: none;
}

.nav-icon{
  width: 20px;
  height: 2px;
  display: inline-block;
  background-color: white;
  position: relative;
}


 header .menu-btn .nav-icon:before{
  background-color: white;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5px;
}

header .menu-btn .nav-icon:after{
  background-color: white;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
}


.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 0.75fr;
  /* height: auto; */
  margin: 0 0 0 20px;
}

.cont-1{
  width: 90%;
  min-width: 375px;
  max-width: 500px;
}

.cont-1 > *{
  margin-bottom: 20px;
}


.cont-1-h1{
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;font-family: 'Lora', serif;
}

.cont-1-p{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.cont-1-a{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: white;
  text-decoration:none;
  margin-bottom: 0
}

.cont-2{
  /* position: relative; */
  width: 90%;
  border: 1px solid green;
  min-width: 375px;
  max-width: 500px;  
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-template-rows: repeat(5 ,1fr);

  font-size: 16px;
}

.cont-2-img{
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/5;
}

.cont-2-name{
  border: 1px solid white;
  background-color: #181719;
  padding: 0.31em 0 0 1.5em;
  font-size: 16px;
  width: 14.93em;
  grid-column: 2/-1;
  grid-row: 4/6;
  display: grid;
  justify-items: center;
  align-items: center;
}

.cont-2-contact-name{
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-rows: 1fr;
  width: 100%;
}
.cont-2-contact-img{
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat; 
  height: 36px;
  width: 36px;
  border-radius: 37px;
}

.cont-2-p > p{
  font-size: 12px;
}

.cont-2-contact-name-p{
  width: 210px;
  height: 45px;
  font-family: Lora;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

